.thought1{
    font-family: 'Train One', cursive;
    font-size: 16px;
    font-weight: 700;
}

.thought2{
    font-family: 'Bree Serif', serif;
}

.thought3{
    font-family: 'Lobster', cursive;
}

h1{
    font-family: 'Caveat', cursive;
}